
  <div class="single-item">
    <div class="vmap"></div>
    <div class="holder"><%= image_tag ("america.png") %></div>
    <div class="holder"><%= image_tag ("america.png") %></div>
  </div>

  <% content_for :extra_footer do %>
    <script>
      $(function(){
        buildMap();
        buildSlider();
      });
    </script>
  <% end %>
