<div class="single-item">
  <div class="vmap"></div>
  <div class="holder"><%= image_tag ("america.png") %></div>
  <div class="holder"><%= image_tag ("america.png") %></div>
</div>

<div class="footer">
  <ul class="inline-list">
    <li>Copyright KA Prod. 2015</li>
  </ul>
</div>

  <% content_for :extra_footer do %>
    <script>
      $(function(){
        buildMap();
        buildSlider();
      });
    </script>
  <% end %>
