<div class="small-12 columns" id="state_header">
  <h1><%= @state.name %></h1>
</div>

<div class="small-12 columns">
  <div class="inline-list" id="state_links">
    <li>Petitions</li>
    <li>Voter Registration</li>
  </div>
































</div>
