<div class="small-12 columns">
  <% if @petitions %>
    <% @petitions.each do |petition| %>
      <%= petition.name %>
      <div class="button">
        <%= link_to 'Delete Petition', admin_petition_path(petition), method: :delete %>
      </div>
    <% end %>
  <% end %>
</div>
