<% if @petitions %>
  <% @petitions.each do |petition| %>
    <div class="inline-list" id="admin_petitions">
      <li><%= petition.name %></li>
      <div class="button">
        <li><%= link_to 'Delete Petition', admin_petition_path(petition), method: :delete %></li>
      </div>
    </div>
  <% end %>
<% end %>
