@import 'variables';

body {
  background-color: $main;
}

.header-area h1 a {
  color: $navyblue;
  font-family: $h1-font;
  font-variant: small-caps;
  letter-spacing: .1em;
}

#vmap {
  padding: 0;
  border-top: .1em solid #E74C3C;
  border-bottom: .1em solid #E74C3C;
}

.divider_bottom {
  height: 25em;
  color: $navyblue;
  margin-top: 0;
}

.divider_bottom p {
  margin-right: 4em;
  margin-left: 4em;
  margin-top: 1em;
}

.divider_bottom .first {
  font-family: $h1-font;
  font-variant: small-caps;
  font-size: 2em;
}
