@import 'variables';

.single-item {
  height: 90%;
  width: 90%;
  margin-left: 5em;
  position: relative;
}

.slick-prev:before, .slick-next:before {
    color: $red !important;
}

.vmap {
  padding-top: 5em;
  height: 90%;
  width: 100%;
}

.holder {
  padding: 0;
  height: 90%;
  width: 100%;
    img {
      padding-top: 2em;
      padding-bottom: 2em;
      height: 90%;
      width: 100%;
    }
}

.footer {
  background-color: $black;
  height: 5%;
    li {
      color: $offwhite;
      font-family: $main-font;
      font-size: .8em;
      margin-top: .5em;
      padding-left: .2em;
    }
}
