@import 'variables';

.top-bar {
  background: $offwhite;
  font-family: $main-font;
  margin-bottom: 0;
  margin-top: 0;
  height: 3.5em;
  position: relative;
}

.top-bar-section li:not(.has-form) a:not(.button) {
  font-size: .8em;
  background: $offwhite;
  color: $navyblue;
  font-family: $main-font;
  height: 5%;
}

.top-bar-section li:not(.has-form) a:not(.button):hover{
  color: $highlight-color;
  background: $offwhite;
}

#logo a {
  margin-left: 45%;
  margin-right: 50%;
  font-family: $h1-font;
  font-weight: bold;
  font-variant: small-caps;
  letter-spacing: .1em;
  color: $navyblue;
  position: absolute;
  margin-top: .2em;
}

#side_logo a {
  font-family: $h1-font;
  font-weight: bold;

}

#side_logo {
  background: $offwhite;
  height: 3.5em;
}
