@import 'variables';

#petitions_div {
  margin-top: 2%;
  padding: 1em;
}

#arrow-up {
  position: relative;
  height: 3em;
  width: 1em;
  border: 1px solid red;
}

#all_petitions {
  font-family: $main-font;
    a {
      color: $red;
    }
}

#petition_page li a {
  text-align: center;
}

#single_petition {
  border: 1px solid $red;
}

.button {
  background-color: $red;
  font-family: $main-font;
}
