@import 'variables';

#state_header {
  height: 5em;
}

#state_chart {
  padding: 2em;
  width: 100%;
  margin: 0;
}

.inline-list li a {
  font-family: $main-font;
  text-align: center;
}
#petitions {
    padding: 1em;
}

#popular_petitions {
  h1 {
    font-family: $h1-font;
    color: $navyblue;
    text-align: center;
  }
    p {
      font-family: $main-font;
      color: $navyblue;
      margin: 0;
    }
}

#popular_petitions h4 {
  a {
    font-family: $h1-font;
    color: $red;
    padding: 0;
  }
}

#popular_petitions img {
  padding: 1em;
}

#all_petitions img {
  float: left;
  height: 100%;
  padding: 1em;
  position: relative;
}

#all_petitions h4 {
  a {
    font-family: $h1-font;
    color: $red;
    padding: 0;
  }
}

#all_petitions p {
  font-family: $main-font;
  color: $navyblue;
  margin: 0;
}

.page_break {
  color: $red;
  background-color: $red;
  height: 5px;
  margin: 0;
}

#state_info {
  width: 100%;
  height: 35em;
  background-color: $navyblue;
  overflow: hidden;
}

#rep_info {
  margin-top: .5em;
  height: 35em;
  overflow-y: scroll;
  overflow-x: hidden;
  ul {
    width: 100%;
    font-family: $main-font;
    color: $offwhite;
    list-style-type: none;
  }
}

#rep_info h2 {
  font-family: $h1-font;
  color: $offwhite;
}

div#_vit {
  margin-top: 2.5em;
}
