@import 'variables';

#state_header h1 {
  font-family: $h1-font;
  text-align: center;
  margin-top: 1em;
}

.inline-list li {
  font-family: $main-font;
  text-align: center;
}

#state_info {
  height: 35em;
  border: 1px solid $navyblue;
}

#state_chart {
  height: 35em;
  border: 1px solid $red;
}

#state_footer {
  height: 15em;
  border: 1px solid $lightblue;
}
