@import 'variables';

#petitions_div {
  border: 1px solid $red;
  margin-top: 2%;
  padding: 1em;
}

#arrow-up {
  position: fixed;
  height: 3em;
  width: 1em;
  border: 1px solid red;
}

#all_petitions {
  font-family: $main-font;
  float: left;
    a {
      color: $red;
    }
}

#petition_page li a {
  text-align: center;
}
