@import 'variables';

#state_header {
  height: 15em;
      p {
      text-align: center;
      margin: 0;
      font-family: $main-font;
        a {
          color: $red;
        }
    }
}

#state_header h1 {
  text-align: center;
  margin-top: 5vh;
  position: relative;
  font-family: $h1-font;
}

#state_chart .bubble circle {
  background-color: teal;
}

.inline-list li a {
  font-family: $main-font;
  text-align: center;
}

#state_info {
  width: 100%;
  height: 35em;
  background-color: $navyblue;
  overflow: hidden;
}

#rep_info {
  height: 35em;
  overflow-y: scroll;
  overflow-x: hidden;
  p {
    width: 100%;
    font-family: $main-font;
    color: $offwhite;
  }
}

.voter_information {
  padding-top: 2em;
  padding-bottom: 2em;
  width: 25em;
}
