// #2C3E50 #navy
// #E74C3C #red
// #ECF0F1 #white
// #3498DB #light blue
// #2980B9 #middle blue

// Font
@import url('http://fonts.googleapis.com/css?family=PT+Sans:400,700|Old+Standard+TT:400,700|Hind');

// Color Palette
$red: #E74C3C ;
$lightblue: #3498DB;
$mediumblue: #2980B9;
$navyblue: #2C3E50;
$main: #ECF0F1;

// Nav and background colors

// Text
$h1-font: 'Old Standard TT', serif;
$main-font: 'Hind', sans-serif;
$highlight-color: #3498DB;
